<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Ping-Pong - <%= process.env.BACKGROUND_COLOR %></title>
    <style>
        body {
            background-color: <%= background_color %>;
            overflow-y: scroll; /* 縦方向のスクロールバーを表示 */
            height: 100vh; /* 画面の高さいっぱいに表示 */
        }
    </style>
</head>
<body>
    <h1>WebSocket Ping-Pong - <%= process.env.BACKGROUND_COLOR %></h1>
    <div id="messages" style="height: 80vh; overflow-y: auto;"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script>
        var socket = io.connect();

        socket.on('message', function(msg) {
            var messages = document.getElementById('messages');
            messages.innerHTML += '<p>' + msg + '</p>';
            messages.scrollTop = messages.scrollHeight; // 自動スクロール
        });

        // サーバーと再接続されたときにページを強制的にリロードする
        socket.on('reconnect', function() {
            console.log('reconnect reload page');
            window.location.reload();
        });

        setInterval(function() {
            socket.send('Ping');
        }, 1000);
    </script>
</body>
</html>
